body {
  background: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#character-selection {
  padding-top: 6rem;
}

.killpoints {
  font-size: x-large;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  color: white;
}
