html {
  position: relative;
  min-height: 100%;
}

body {
  background: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 8rem;
}

#character-selection {
  margin-top: 6rem;
}

.killpoints {
  font-size: x-large;
}

.card {
  margin-top: 1rem;
}

.footer {
  padding-top: 1rem;
  color: white;
  background-color:#222;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 6rem;
}

.footer a, .footer em, .footer i {
  color: #fcab0e;
}
